<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    
    <div class="container">
        
        <div class="card mt-3">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form action="/salvarpergunta" method="POST">
                    <label for="">Título</label>
                    <input class="form-control" type="text" placeholder="Título" name="titulo">
                    <br>
                    <label>Descrição</label>
                    <textarea class="form-control" placeholder="Digite sua pergunta" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-estilizado">Realizar Pergunta</button>
                </form>
            </div>
            
        </div>

    </div>
    
    <%- include ('./partials/footer.ejs') %>

</body>
</html>
